{
  "ALLOWED_HOSTS": [
    "0.0.0.0"
  ],
  "API_KEY": false,
  "BROKER_URL": "amqp://{user}:{password}@{host}:{port}/{vhost}",
  "DATABASE": {
    "ENGINE": "django.db.backends.mysql",
    "NAME": "basename",
    "USER": "user",
    "PASSWORD": "password",
    "HOST": "localhost",
    "PORT": "3306",
    "OPTIONS": {
      "connect_timeout": 2
    },
    "TEST": {
      "CHARSET": "UTF8"
    }
  },
  "DEBUG": true,
  "DP_APP_TOKEN": "token",
  "DP_BASE_URL": "https://dp.u2035dev.ru",
  "LABS_APP_TOKEN": "token",
  "LABS_BASE_URL": "https://labs.u2035dev.ru",
  "LRS_AUTH_TOKEN": "string",
  "LRS_BASE_URL": "https://lrs.2035.university",
  "LRS_ARCHETYPES_GUID": "talkwebbot",
  "PLE_APP_TOKEN": "token",
  "PLE_BASE_URL": "https://my.2035.university",
  "PLE_GUID_UUIDS": {
    "knowledge": "9d55706e-b0d9-44c2-b739-20309ccbd8bf"
  }
}